.game-room {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-room-header-bar {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ebebeb;
}

.problem-header {
  background-color: white;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.difficulty-badge {
  width: 100px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  padding: 2px;
}

.difficulty-badge.easy {
  background-color: #58b856;
}

.game-room-timer {
  width: 70px;
  border: 2px solid black;
  box-shadow: 4px 4px 0px #000;
  align-content: center;
  text-align: center;
  font-weight: bold;
}

.game-room-button-container {
  display: flex;
}

.game-room-button {
  padding: 10px;
  width: 100px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-room-run-button {
  background-color: #9266cc;
  margin-right: 10px;
  transition: 0.3s all;
}

.game-room-run-button:hover {
  background-color: #a68bc9;
}

.game-room-submit-button {
  background-color: #28c244;
  transition: 0.3s all;
}

.game-room-submit-button:hover {
  background-color: #78e28b;
}

.game-room-button.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.game-room-button-spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.game-room-button-spinner.run-spinner {
  border-top: 4px solid #6f00ff;
}

.game-room-button-spinner.submit-spinner {
  border-top: 4px solid #028802;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.game-room-user-list {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
}

.game-room-user-list:hover {
  scrollbar-width: thin;
}

.game-room-user {
  padding: 10px;
}

.game-room-user-profile-wrapper {
  display: flex;
}

.game-room-user-profile-wrapper.chat-message {
  margin-top: 7px;
}

.game-room-user-name {
  font-weight: bold;
}

.game-room-chat-container {
  height: 90%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-room-chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  scrollbar-width: none;
}

.game-room-chat-messages:hover {
  scrollbar-width: thin;
}

.game-room-chat-message {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
  padding: 5px 10px;
  position: relative;
}

.game-room-chat-message .game-room-message-info {
  display: flex;
  flex-direction: column;
}

.game-room-chat-message.game-room-system-message {
  background-color: #f7f7f7;
}

.game-room-message-text {
  word-wrap: break-word;
}

.game-room-chat-time {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 13px;
  color: gray;
  white-space: nowrap;
}

.game-room-message-group {
  margin-left: 7px;
}

.game-room-message-content {
  display: flex;
  align-items: flex-start;
}

.game-room-chat-input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 11pt;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  width: 100%;
  background-color: #f7f7f7;
  transition: 0.3s all;
}

.game-room-chat-input:focus {
  background-color: #eeeeee;
  border-color: #9266cc;
}

.game-room-editor-controls {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
}

.game-room-divider {
  border: 1px solid #ebebeb;
}

.game-room-editor-settings {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
}

.game-room-language-selection {
  margin-bottom: 10px;
}

.game-room-console-output {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 10px;
}
