.wb-wrap {
  height: 100%;
  position: relative;
  background: #fbfdfb;
}

.wb-wrap .excalidraw.theme--light {
  --color-surface-low: #fbfdfb;
  --color-surface-mid: #edf3ef;
  --color-primary: #0f766e;
  --color-primary-darker: #0b5f59;
}
