.header {
  height: 56px;
  border-bottom: 1px solid #edebec;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-logo {
  margin-left: 5px;
}

.header-beta {
  font-size: 11px;
}

.header-clickable {
  user-select: none;
  cursor: pointer;
}

.header-profile-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  object-fit: cover;
}

.header-profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
  width: 150px;
}

.header-dropdown-item {
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.header-dropdown-item:hover {
  background-color: #f5f5f5;
}

.header-dropdown-item:last-child {
  border-bottom: none;
}

.header-login-container {
  display: flex;
  align-items: center;
}

.header-login-button {
  background-color: #9266cc;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
  margin-bottom: 7px;
  width: 70px;
}

.header-login-button:hover {
  background-color: #b68cec;
}

.header-arrow-icon {
  cursor: pointer;
}

.header-right-section {
  display: flex;
  align-items: center;
}

.header-github-container {
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
}

.header-github-icon {
  color: black;
  transition: 0.3s all;
}

.header-github-icon:hover {
  color: #b68cec;
}
