.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pane {
  padding: 20px;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.user-profile-picture {
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid rgb(212, 212, 212);
}
